{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Order List</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <div class="card card-primary">

              <form method="post" >
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label >Order status</label>
                      {{form.status}}
                  </div>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <label >Order status</label>
                      {{form.total_price}}
                  </div>
                </div>
<!--                <div class="card-body">-->
<!--                  <div class="form-group">-->
<!--                    <label >Order total_price</label>-->
<!--                      {{form.total_price}}-->
<!--                  </div>-->
<!--                </div>-->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>

          </div>
        </div>
    </div>
</section>
{% endblock %}