{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Order List</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Order List</li>
          </ol>
        </div>
      </div>
    <form method="post">
      {% csrf_token%}
      <select onchange="this.form.submit()" name="order_filter">
        <option value="all" {% if filter == "all" %}selected{% endif %}>Hammasi</option>
        <option value="done" {% if filter == "done" %}selected{% endif %}>Done</option>
        <option value="failed" {% if filter == "failed" %}selected{% endif %}>Failed</option>
      </select>

    </form>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">

              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>№</th>
                      <th>Name</th>
                      <th>Status</th>
                      <th>Created_at</th>
                      <th>Change_status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for stat in status %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ stat.first_name }}</td>
                      <td>{{ stat.status }}</td>
                      <td>{{ stat.created_at }}</td>
                      <td>
                        {% if stat.status == 1 %}
                        <a href="{% url 'status' pk=stat.order_id status=2 %}"><div class="btn btn-sm btn-success">Done</div></a>
                        <a href="{% url 'status' pk=stat.order_id status=3 %}"><div class="btn btn-sm btn-danger">Failed</div></a>
                        {% elif stat.status == 2 %}
                        Done
                        {% elif stat.status == 3 %}
                        Failed
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>

          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
